body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: black;
  font-size: 1em;
  user-select: none;
  background: #0A1936;
}

body.fadein * {
  animation: fadeIn 1s ease-in-out;
}

/* Colors */
.white {
  color: white;
}

.black {
  color: black;
}

/* Animations */
.fadein {
  animation: fadeIn .5s ease;
}

.fadeout {
  animation: fadeOut .5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* Status */
.active {
  color: #1e55b8;
}

/* Website theme */

/* Navbar */
nav {
  position: relative;
  height: 4em;
  width: 100%;
}

nav #nav-wrapper {
  max-width: 60%;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  min-width: 8em;
  text-align: center;
  transition: .2s ease-in-out all;
}

nav ul .nav-item a {
  transition: .2s ease-in-out all;
}

nav ul .nav-item:hover a {
  color: #1e55b8;
}

nav ul .nav-item-home a img {
  height: 2.5em;
  width: 2.5em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  width: 100%;
  height: 100%;
  line-height: 4em;
}

/* Headers */

.h1 {
  font-size: 2em;
  margin: .67em 0;
}

.h2 {
  font-size: 1.5em;
  margin: .75em 0;
}

.h3 {
  font-size: 1.17em;
  margin: .83em 0;
}

/* Index / Main Page */

#site-index #overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.7;
  background: #0A1936;
}

#site-index {
  overflow: hidden;
}

#site-index,
#site-about,
#site-portfolio {
  overflow-x: hidden;
}

#site-index #menu {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.name {
  transition: .2s ease all;
  color: white;
  display: block;
  text-decoration: none;
  font-size: 2em;
}

a.name:hover {
  text-shadow: 0 0 7px white;
}

#site-index #menu .social ul {
  list-style: none;
}

#site-index #menu .social a {
  display: inline-block;
  color: #C8CCCF;
  height: 1.65em;
  width: 1.65em;
  border: 1px solid;
  border-radius: 50%;
  font-size: 1.5em;
  margin: .1em 0.5em .1em .1em;
  text-align: center;
  transition: .2s ease all;
}

#site-index #menu .social li {
  height: 100%;
  width: 100%;
  position: relative;
}

#site-index #menu .social li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#site-index #menu .social a:hover {
  color: #1e55b8;
  text-shadow: 0 0 7px #1e55b8;
  box-shadow: 0 0 7px #1e55b8;
  opacity: 1;
}

#site-index #bio {
  font-weight: 300;
  font-size: 2.5em;
  color: white;
  padding: 1em;
}

.profile-photo-round {
  background-image: url("media/photos/profile.jpg");
  background-position-x: 0.5em;
  background-size: cover;
  border-radius: 50%;
  height: 15em;
  width: 15em;
  margin: 0 auto;
  display: block;
  margin-bottom: 1em;
}

.profile-photo-round .small {
  height: 1em;
  width: 1em;
  margin-bottom: 0em;
}

/* SocialNets icons */

.fbicon {
  display: block;
  background-image: url('media/icons/facebook_icon.svg');
  background-size: 2em;
}

.igicon {
  display: block;
  background-image: url('media/icons/instagram_icon.svg');
  background-size: 2em;
}

.ghicon {
  display: block;
  background-image: url('media/icons/github_icon.svg');
  background-size: 2em;
  filter:invert(100%);
}

.twicon {
  display: block;
  background-image: url('media/icons/twitter_icon2.svg');
  background-size: 2em;
}

.lkicon {
  display: block;
  background-image: url('media/icons/linkedin_icon.svg');
  background-size: 2em;
}

.mailicon {
  display: block;
  background-image: url('media/icons/email_icon.svg');
  background-size: 2em;
}
